<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- HTML 주석입니다.  -->
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    @font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  </style>
</head>
<body style="background-color: gray; font-family: 'Danjo-bold-Regular';">
<h1 style="background-color: gray;">But there is nothing here...</h1>

<script>
  alert("The secret door is opening");
</script>
</body>
</html>